/* - - - DEBUGGER - - - */

/* * {
    border: 2px solid red
} */

.header,
.hero,
.section-one
.section-two
.header-logo
{
    /* border: 2px solid red; */
}

/* - - - DEBUGGER END - - - */

body {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

ul {
    list-style-type: none;
}

/* - - - COLOR AND FONTS - - - */
.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    border: 5px solid red;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    padding: 5px 20px;
    
}

.section-two {

}

.section-three {
    background-color: #E5E7EB;
}


/* - - - FLEX PROPERTIES - - - */

/* - - - Section one - - - */
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 0;
    display: flex;
    padding: 20px 100px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.header-logo {
    display: flex;
    margin-right: auto;
}

.hero {
    display: flex;
    margin: 0;
    padding: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-image{
    flex: 1;
    border: 5px solid blue;
}


/* - - - Section two - - - */
.section-two {
    display: flex;
}

/* - - - Section three - - - */
.section-three {
    display: flex;
}


/* - - - Section four - - - */
.section-four {
    display: flex;
}

.footer {
    text-align: center;
}